{% extends "base.html" %}

{% block title %}Cleaner Dashboard{% endblock %}

{% block content %}
<br>
<div class="container">
    <h1 style="font-size: 28px; text-align: center;">Welcome to your dashboard {{ session.get('username') }}!</h1>    <div class="dashboard-options">
        <h2>Cleaning Service Options:</h2>
        <br>
        <ul class="dashboard-links">
            <li><a href="{{ url_for('create_service') }}">Create New Service</a></li>
            <li><a href="{{ url_for('view_services') }}">View My Services</a></li> 
            <li><a href="{{ url_for('edit_services') }}">Edit My Services</a></li> 
            <li><a href="{{ url_for('search_services') }}">Search My Services</a></li>
            <li><a href="{{ url_for('cleaner_view_tracking') }}">View Tracking Stats</a></li>      
            <li><a href="{{ url_for('cleaner_match_history') }}">View Job History</a></li>

        </ul>
    </div>
    
    <br><br>
    
</div>   
{% endblock %}