{% extends "base.html" %}

{% block title %}Platform Management Dashboard{% endblock %}

{% block content %}
<br>
<div class="container">
    <h1 style="font-size: 28px; text-align: center;">
        Welcome to your Dashboard, {{ session['username'] }}!
    </h1>
    <br>

    <div class="dashboard-options">
        <h2>Background System Operations:</h2>
        <br>
        <ul class="dashboard-links">
            <li><a href="{{ url_for('platform_create_category') }}">Add New Service Category</a></li>
            <li><a href="{{ url_for('view_service_category') }}">Manage Service Categories-View/Search/Update/Delete</a></li> 
            <li><a href="{{ url_for('platform_user_report') }}">Obtain Reports-User counts</a></li> 

        </ul>
    </div>

    <br><br>
</div>
{% endblock %}